body {
    background-color: #dbf6e9;
    color: #162447;
}

.pokemon-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

* {
  font-family: "Press Start 2P", cursive;
}

.App {
    text-align: center;
}

h1 {
    font-size: 57px;
}

.header {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
  .header h1 {
    font-size: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 30px;
    text-align: center;
  }
}

.sad-pika {
    font-size: xx-large;
}

